<div fxFlex="10"></div>

<div class="content" fxFlex="80" >
    <H1>Your Reservations</H1>
    <hr>
    
    <div class="cards" fxLayout="row wrap" fxLayoutAlign="center start">

        <mat-spinner *ngIf="isLoading"></mat-spinner>

        <div *ngIf="!isLoading">
            <div *ngIf="!orders">
                <h1>No reservations found...</h1>
            </div>
            
            <div *ngFor="let order of orders">
                <app-order-card [Order]="order">
                </app-order-card>
            </div>
        </div>
        
    
        <!-- <mat-card>
            <p>Request New order</p>
        </mat-card> -->
    </div>

    <H1>Other Resources</H1>
    <hr>
    <div class="cards" fxLayout="row wrap" fxLayoutAlign="center start">
        <mat-card [routerLink]="['/materials/inventory']">
            <p>View Material Inventory</p>
        </mat-card>
    </div>

</div>

<div fxFlex="10"></div>
